/* Container for both input and icon, with flexbox for horizontal alignment */
.searchbarWrapper {
    display: flex;
    width: 100%;
    align-items: center;  
    border: 1px solid #ccc;
    border-radius: 16px;  
    background-color: #eee;
  }
  
  .Searchbar {
    flex-grow: 1;  
    padding: 8px 16px;
    font-size: 16px;
    border: none;  
    border-radius: 16px 0 0 16px;  
    outline: none;
    background-color: transparent;  
    color: black;
  }
  
  .Searchbar::placeholder {
    color: #000000;
  }
  
  .searchIcon {
    display: flex; 
    align-items: center; 
    padding: 8px;
    background-color: #eee;
    border-radius: 0px 16px 16px 0px;  
    color: black;
  }
  