.Searchbar {
  flex-grow: 1;  
  padding: 0.5rem 1rem;  
  font-size: 1rem;  
  border: none;  
  border-radius: 1rem 0 0 1rem;  
  outline: none;
  background-color: transparent;  
  color: black;
}

.searchbarWrapper {
  display: flex;
  width: 100%;
  align-items: center;  
  border: 1px solid #ccc;
  border-radius: 1rem;  
  background-color: #eee;
}

.Searchbar::placeholder {
  color: #000000;
}

.searchIcon {
  display: flex; 
  align-items: center; 
  padding: 0.5rem;  
  background-color: #eee;
  border-radius: 0 1rem 1rem 0;  
  color: black;
  cursor: pointer; 
}
